[Unit]
Description=Dropbox Daemon

[Service]
User=%u
WorkingDirectory=/home/%u/
Type=forking
ExecStart=python3 /home/%u/dropbox.py start
Restart=always

[Install]
WantedBy=multi-user.target
